<a href="https://colab.research.google.com/github/retuyu88/digitalentkominfo/blob/master/Copy_of_exercise_pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://pynative.com/wp-content/uploads/2019/01/Automobile_data.csv).

### Step 3. Assign it to a variable called chipo.

In [70]:
url = 'https://pynative.com/wp-content/uploads/2019/01/Automobile_data.csv'
    
car = pd.read_csv(url)
car.shape
car

    index        company   body-style  ...  horsepower  average-mileage    price
0       0    alfa-romero  convertible  ...         111               21  13495.0
1       1    alfa-romero  convertible  ...         111               21  16500.0
2       2    alfa-romero    hatchback  ...         154               19  16500.0
3       3           audi        sedan  ...         102               24  13950.0
4       4           audi        sedan  ...         115               18  17450.0
5       5           audi        sedan  ...         110               19  15250.0
6       6           audi        wagon  ...         110               19  18920.0
7       9            bmw        sedan  ...         101               23  16430.0
8      10            bmw        sedan  ...         101               23  16925.0
9      11            bmw        sedan  ...         121               21  20970.0
10     13            bmw        sedan  ...         182               16  30760.0
11     14            bmw        sedan  ...         182               16  41315.0
12     15            bmw        sedan  ...         182               15  36880.0
13     16      chevrolet    hatchback  ...          48               47   5151.0
14     17      chevrolet    hatchback  ...          70               38   6295.0
15     18      chevrolet        sedan  ...          70               38   6575.0
16     19          dodge    hatchback  ...          68               31   6377.0
17     20          dodge    hatchback  ...          68               31   6229.0
18     27          honda        wagon  ...          76               30   7295.0
19     28          honda        sedan  ...         101               24  12945.0
20     29          honda        sedan  ...         100               25  10345.0
21     30          isuzu        sedan  ...          78               24   6785.0
22     31          isuzu        sedan  ...          70               38      NaN
23     32          isuzu        sedan  ...          70               38      NaN
24     33         jaguar        sedan  ...         176               15  32250.0
25     34         jaguar        sedan  ...         176               15  35550.0
26     35         jaguar        sedan  ...         262               13  36000.0
27     36          mazda    hatchback  ...          68               30   5195.0
28     37          mazda    hatchback  ...          68               31   6095.0
29     38          mazda    hatchback  ...          68               31   6795.0
..    ...            ...          ...  ...         ...              ...      ...
31     43          mazda        sedan  ...          72               31  18344.0
32     44  mercedes-benz        sedan  ...         123               22  25552.0
33     45  mercedes-benz        wagon  ...         123               22  28248.0
34     46  mercedes-benz        sedan  ...         184               14  40960.0
35     47  mercedes-benz      hardtop  ...         184               14  45400.0
36     49     mitsubishi    hatchback  ...          68               37   5389.0
37     50     mitsubishi    hatchback  ...          68               31   6189.0
38     51     mitsubishi        sedan  ...          88               25   6989.0
39     52     mitsubishi        sedan  ...          88               25   8189.0
40     53         nissan        sedan  ...          55               45   7099.0
41     54         nissan        sedan  ...          69               31   6649.0
42     55         nissan        sedan  ...          69               31   6849.0
43     56         nissan        wagon  ...          69               31   7349.0
44     57         nissan        sedan  ...         152               19  13499.0
45     61        porsche      hardtop  ...         207               17  34028.0
46     62        porsche  convertible  ...         207               17  37028.0
47     63        porsche    hatchback  ...         288               17      NaN
48     66         toyota    hatchback  ...          62               35   5348.0
49     67         toyota    hatchback  ...          62               31   6338.0
50     68         toyota    hatchback  ...          62               31   6488.0
51     69         toyota        wagon  ...          62               31   6918.0
52     70         toyota        wagon  ...          62               27   7898.0
53     71         toyota        wagon  ...          62               27   8778.0
54     79         toyota        wagon  ...         156               19  15750.0
55     80     volkswagen        sedan  ...          52               37   7775.0
56     81     volkswagen        sedan  ...          85               27   7975.0
57     82     volkswagen        sedan  ...          52               37   7995.0
58     86     volkswagen        sedan  ...         100               26   9995.0
59     87          volvo        sedan  ...         114               23  12940.0
60     88          volvo        wagon  ...         114               23  13415.0

[61 rows x 10 columns]

### Step 4. Check whether null value exist in the Dataframe

In [71]:
car.isnull().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

### Step 5. Cleaning data

In [72]:
#cara 1 cleaning data adalah dengan menghapus data yang mengandung nilai kosong/NaN
#a = car.dropna(axis=0)
#assign new value
#mean = car.loc[:,'price'].mean()
b = car.fillna(car.loc[:,'price'].mean(),inplace=True)
car

    index        company   body-style  ...  horsepower  average-mileage    price
0       0    alfa-romero  convertible  ...         111               21  13495.0
1       1    alfa-romero  convertible  ...         111               21  16500.0
2       2    alfa-romero    hatchback  ...         154               19  16500.0
3       3           audi        sedan  ...         102               24  13950.0
4       4           audi        sedan  ...         115               18  17450.0
5       5           audi        sedan  ...         110               19  15250.0
6       6           audi        wagon  ...         110               19  18920.0
7       9            bmw        sedan  ...         101               23  16430.0
8      10            bmw        sedan  ...         101               23  16925.0
9      11            bmw        sedan  ...         121               21  20970.0
10     13            bmw        sedan  ...         182               16  30760.0
11     14            bmw        sedan  ...         182               16  41315.0
12     15            bmw        sedan  ...         182               15  36880.0
13     16      chevrolet    hatchback  ...          48               47   5151.0
14     17      chevrolet    hatchback  ...          70               38   6295.0
15     18      chevrolet        sedan  ...          70               38   6575.0
16     19          dodge    hatchback  ...          68               31   6377.0
17     20          dodge    hatchback  ...          68               31   6229.0
18     27          honda        wagon  ...          76               30   7295.0
19     28          honda        sedan  ...         101               24  12945.0
20     29          honda        sedan  ...         100               25  10345.0
21     30          isuzu        sedan  ...          78               24   6785.0
22     31          isuzu        sedan  ...          70               38  15387.0
23     32          isuzu        sedan  ...          70               38  15387.0
24     33         jaguar        sedan  ...         176               15  32250.0
25     34         jaguar        sedan  ...         176               15  35550.0
26     35         jaguar        sedan  ...         262               13  36000.0
27     36          mazda    hatchback  ...          68               30   5195.0
28     37          mazda    hatchback  ...          68               31   6095.0
29     38          mazda    hatchback  ...          68               31   6795.0
..    ...            ...          ...  ...         ...              ...      ...
31     43          mazda        sedan  ...          72               31  18344.0
32     44  mercedes-benz        sedan  ...         123               22  25552.0
33     45  mercedes-benz        wagon  ...         123               22  28248.0
34     46  mercedes-benz        sedan  ...         184               14  40960.0
35     47  mercedes-benz      hardtop  ...         184               14  45400.0
36     49     mitsubishi    hatchback  ...          68               37   5389.0
37     50     mitsubishi    hatchback  ...          68               31   6189.0
38     51     mitsubishi        sedan  ...          88               25   6989.0
39     52     mitsubishi        sedan  ...          88               25   8189.0
40     53         nissan        sedan  ...          55               45   7099.0
41     54         nissan        sedan  ...          69               31   6649.0
42     55         nissan        sedan  ...          69               31   6849.0
43     56         nissan        wagon  ...          69               31   7349.0
44     57         nissan        sedan  ...         152               19  13499.0
45     61        porsche      hardtop  ...         207               17  34028.0
46     62        porsche  convertible  ...         207               17  37028.0
47     63        porsche    hatchback  ...         288               17  15387.0
48     66         toyota    hatchback  ...          62               35   5348.0
49     67         toyota    hatchback  ...          62               31   6338.0
50     68         toyota    hatchback  ...          62               31   6488.0
51     69         toyota        wagon  ...          62               31   6918.0
52     70         toyota        wagon  ...          62               27   7898.0
53     71         toyota        wagon  ...          62               27   8778.0
54     79         toyota        wagon  ...         156               19  15750.0
55     80     volkswagen        sedan  ...          52               37   7775.0
56     81     volkswagen        sedan  ...          85               27   7975.0
57     82     volkswagen        sedan  ...          52               37   7995.0
58     86     volkswagen        sedan  ...         100               26   9995.0
59     87          volvo        sedan  ...         114               23  12940.0
60     88          volvo        wagon  ...         114               23  13415.0

[61 rows x 10 columns]

### Step 4. From given data set print first five rows

In [73]:
car.head(5)

   index      company   body-style  ...  horsepower  average-mileage    price
0      0  alfa-romero  convertible  ...         111               21  13495.0
1      1  alfa-romero  convertible  ...         111               21  16500.0
2      2  alfa-romero    hatchback  ...         154               19  16500.0
3      3         audi        sedan  ...         102               24  13950.0
4      4         audi        sedan  ...         115               18  17450.0

[5 rows x 10 columns]

### Step 5. From given data set print last five rows

In [74]:
car.tail(5)
car.isnull().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               0
dtype: int64

### Step 6. Find the most expensive car company name

In [79]:
car.loc[car['price'] == car['price'].max()]

    index        company body-style  ...  horsepower  average-mileage    price
35     47  mercedes-benz    hardtop  ...         184               14  45400.0

[1 rows x 10 columns]

### Step 7. Print All Toyota Cars details

In [80]:
car.loc[car['company'] == 'toyota']

    index company body-style  ...  horsepower  average-mileage    price
48     66  toyota  hatchback  ...          62               35   5348.0
49     67  toyota  hatchback  ...          62               31   6338.0
50     68  toyota  hatchback  ...          62               31   6488.0
51     69  toyota      wagon  ...          62               31   6918.0
52     70  toyota      wagon  ...          62               27   7898.0
53     71  toyota      wagon  ...          62               27   8778.0
54     79  toyota      wagon  ...         156               19  15750.0

[7 rows x 10 columns]

### Step 8. Count total cars per company

In [81]:
car.groupby('company').size()

company
alfa-romero      3
audi             4
bmw              6
chevrolet        3
dodge            2
honda            3
isuzu            3
jaguar           3
mazda            5
mercedes-benz    4
mitsubishi       4
nissan           5
porsche          3
toyota           7
volkswagen       4
volvo            2
dtype: int64

### Step 9. Find each company’s Higesht price car

In [84]:
#car.loc[car['price'] == car['price'].max()]
car.groupby['company','price']

TypeError: ignored

### Step 10. Find the average mileage of each car making company

### Step 11. Sort all cars by Price column